@model UniCoursesApp.ViewModels.StudentNameIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Студенти</h1>

<p>
    <a asp-action="Create">Додади нов</a>
</p>

<form asp-controller="Students" asp-action="Index" method="get">
    <p>
        <select asp-for="StudentIndex" asp-items="Model.IndexVm">
            <option value="">Индекс</option>
        </select>
        Име и презиме: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
        <a asp-action="Index">Назад</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentVm[0].StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentVm[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentVm[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentVm[0].EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentVm[0].AcquiredCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentVm[0].CurrentSemester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentVm[0].EducationLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentVm) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquiredCredits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSemester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
