@model UniCoursesApp.Models.Student
 @{ 
     ViewData["Title"]="Student Details" ;
                                                 
     var photoPath="~/studentImages/" + (Model.ProfilePicture ?? "blankImage.png" );
     }

<h1>Студент - @Html.DisplayFor(model => model.FullName)</h1>

<div>
    <hr />
    <img src="@photoPath"
         height="200" width="200"
         asp-append-version="true" />
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcquiredCredits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcquiredCredits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentSemester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentSemester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>
    </dl>
    <hr />
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courses)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Курс</th>
                    <th>Оцена</th>
                    <th>Семестар</th>
                    <th>Проект </th>
                    <th>Семинрска</th>
                </tr>
                @foreach (var item in Model.Courses)
                {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeminalUrl)
        </td>
        <td>
            <a asp-controller="Enrollments" asp-action="StudentEdit" asp-route-id="@item.Id">Прикачи проект</a>
        </td>
        <td>
            <a asp-controller="Enrollments" asp-action="StudentViewEnrollment" asp-route-id="@item.Id">Детали</a>
        </td>
    </tr>
}
            </table>
        </dd>
    </dl>
</div>
